<script language="javascript">
    var BdPlayer = new Array();

    BdPlayer['width'] = 800;//播放器宽度(只能为数字)
    BdPlayer['height'] = 550;//播放器高度(只能为数字)
    BdPlayer['showclient'] = 1;//是否显示拉起拖盘按钮(1为显示 0为隐藏)
    BdPlayer['url'] = '<%= @bdhd.url %>';//当前播放任务播放地址
    BdPlayer['nextcacheurl'] = '';//下一集播放地址(没有请留空)
    BdPlayer['lastwebpage'] = '';//上一集网页地址(没有请留空)
    BdPlayer['nextwebpage'] = '';//下一集网页地址(没有请留空)
</script>
<script language="javascript" src="http://php.player.baidu.com/bdplayer/player.js" charset="utf-8"></script>

<div id="sidebar" class="span3 pull-right">
    <div class="sidebar_box">
        <div class="sidebar_box_header">
            影片信息
        </div>
        <p>片名: <span><%= @movie.name %></span></p>
        <p>上映时间: <span><%= @movie.year %>年</span></p>
        <p>影片类型: <span><%= @movie.category %></span></p>
        <% if @other_bdhds.size > 0 %>
            <p>其他片源: </p>
            <ul>
                <% @other_bdhds.each do |bdhd| %>
                    <li><%= link_to bdhd.text, play_url(:id => @movie.id, :text => bdhd.text) %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>


<script>
    function remove_iframe() {

        if ($("#BdPlayer").size() > 0) {
            console.log("Exit remove_iframe()");
            return true;
        }

        if ($("iframe").size() > 0 ) {
            $notify = $('<div class="notify_install_bdhd"></div');
            $notify.append('<h3>你尚未安装百度影音，本站所有视频均基于百度影音协议。</h3>');
            $notify.append('<h4><a href="http://player.baidu.com/">点此下载最新版百度影音</a></h4>');
            $("iframe").replaceWith($notify);
            console.log("Exit remove_iframe()");
            return true;
        }

        var repeat = "remove_iframe()";
        setTimeout(repeat, 10);
    }
    remove_iframe();
</script>
