<% if @user.errors.any? %>
    <% @user.errors.each do |k, v| %>
        <% next if k == :password_digest %>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>    
            <strong><%= k %></strong>&nbsp<%= v %>
        </div>

    <% end %>
<% end %>

<%= form_for @user, html: {class: 'centerform'} do |f| %>
    <%= f.label "用户名" %>
    <%= f.text_field :username %>
    <%= f.label "密码" %>
    <%= f.password_field :password %>
    <%= f.label "确认密码" %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "注册", class: "btn btn-primary" %>
<% end %>