<!DOCTYPE html>
<html>
    <head>
        <title>loveky的电影院</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        </head>
    <body style="padding-top: 60px">
        <%= render "layouts/header" %>

        <div class="container">
            <%= render "layouts/messages" %>
            <div id="main" class="span9 pull-left">
                <%= yield %>
            </div>
            <%= render "layouts/sidebar" %>
        </div> 
    </body>
</html>